#chat{

    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px 0 20px;

    #open-chats-container{
        box-sizing: border-box;
        width: 200px;
        position: absolute;
        bottom: 0px;
        h1{
            font-size: 20px;
            font-weight: bold;
            
        }

        ul{
            li{
                box-sizing: border-box;
                height: 50px;
                width: 100%;
            }
        }
        
    }
}
