
#chat-page{
    box-sizing: border-box;
    
    height: 95vh;
    display: flex;

    #chat-users-list{
        box-sizing: border-box;
        
        flex: 0 0 240px;
        height: 100%;
        border-right: #2a3d66 1px solid;
        
        
        h1{
            font-size: 30px;
            background-color: #5d5fa4;
            color: white;
            padding: 5px;
        };

        ul{
            li{
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 10px 0 10px;
                font-weight: bold;
            }
        }
        
    }

    .chatbox{
       
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .chatbox-header{
            padding: 10px;
            align-items: center;
            display: flex;
            border-bottom: 1px #2a3d66 solid;
            justify-content: space-between;
            height: 40px;
            box-sizing: border-box;
        }

        .chatbox-message-container{
            box-sizing: border-box;
            height: 90%;
            padding: 15px;

            .message-sender{
                font-weight: bold;
            }
        }
        .chatbox-input{
            padding: 10px;
            
            form{
                
                box-sizing: border-box;
                display: flex;
                align-items: flex-end;
                
                button{
                    
                    background-color: white;
                    border: none;
                    outline: none;
                    width: 25px;
                    height: 25px;
                    box-sizing: border-box;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
                .chatbox-input-area{
                    
                    border-radius: 15px;
                    background-color: #dadde1;
                    box-sizing: border-box;
                    width: 100%;
                    min-height: 25px;
                    padding: 7px 15px 7px 15px;
                    
                    
                }
                .chatbox-input-area:focus{
                    outline: none;
                    border: none;
                    
                }
            }
        }
    }

}