
#chat-page{
    box-sizing: border-box;
    
    height: 95vh;
    display: flex;

    #chat-users-list{
        box-sizing: border-box;
        
        flex: 0 0 240px;
        height: 100%;
        border-right: #2a3d66 1px solid;
        
        
        h1{
            font-size: 30px;
            
            padding: 5px;
        };

        ul{
            li{
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 10px 0 10px;
                font-weight: bold;

                img{
                    box-sizing: border-box;
                    height: 30px;
                    
                    border-radius: 75%;
                    width: 30px;
                    object-fit: cover;
                    border: 1px solid white;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
            li:hover{
                background: lightgray;
            }
        }
        
    }

    .chatbox{
       
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .chatbox-header{
            padding: 10px;
            align-items: center;
            display: flex;
            border-bottom: 1px #2a3d66 solid;
            box-shadow: 0 2px 3px -2px black;
            justify-content: space-between;
            height: 40px;
            box-sizing: border-box;
            background: #5d54a4;

            a.chatbox-user-link{
                font-weight: bold;
                color: white;
                text-decoration: none;
                div{
                    font-weight: bold;
                    color: white;
                    text-decoration: none;
                }
                transition: .3s;
            }
            a:hover{
                div{
                    color: #d789d7;
                    text-decoration: underline;
                }
            }

            div{
                font-weight: bold;
                color: white
                
            }
            button{
                border: none;
                background: inherit;
                color: white;
                font-weight: bolder;
                transition: .5s;
            }

            button:hover{
                // -o-transform: scale(1.5);
                // -ms-transform: scale(1.5);
                // -webkit-transform: scale(1.5);
                transform: scale(1.5);
                z-index: 5;
                -webkit-transition: transform .5s ease-in-out;
                -moz-transition:transform .5s ease-in-out;
                -ms-transition:transform .5s ease-in-out;
            }
        }

        .chatbox-message-container{
            overflow-y: scroll;
            box-sizing: border-box;
            height: 90%;
            padding: 15px;

            .message-sender{
                font-weight: bold;
                margin-left: 10px;
            }

            li{
                margin-top: 10px;
                margin-bottom: 15px;
                
                .message-header{
                    display: flex;
                    align-items: center;
                    
                    img{
                        box-sizing: border-box;
                        height: 30px;
                        
                        border-radius: 75%;
                        width: 30px;
                        object-fit: cover;
                        border: 1px solid white;
                        
                        cursor: pointer;
                    }
                    .message-send-time{
                        font-size: 10px;
                        color: gray;
                        margin-left: 5px;
                        // align-self: flex-end;
                    }
                }
                
                .message-body{
                    margin-top: 5px;
                    border-radius: 15px;
                    
                    background: lightgray;
                    width: max-content;
                    padding: 5px 10px 5px 10px;
                }
            }
        }
        .chatbox-input{
            padding: 10px;
            
            form{
                
                box-sizing: border-box;
                display: flex;
                align-items: flex-end;
                
                button{
                    margin-right: 10px;
                    background-color: white;
                    border: none;
                    outline: none;
                    width: 25px;
                    height: 25px;
                    box-sizing: border-box;
                    transition: .5s;
                }
                button:hover{
                    transform: scale(1.2);
                    z-index: 5;
                    -webkit-transition: transform .5s ease-in-out;
                    -moz-transition:transform .5s ease-in-out;
                    -ms-transition:transform .5s ease-in-out;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
                .chatbox-input-area{
                    
                    border-radius: 15px;
                    background-color: #dadde1;
                    box-sizing: border-box;
                    width: 100%;
                    min-height: 25px;
                    padding: 7px 15px 7px 15px;
                    
                    
                }
                .chatbox-input-area:focus{
                    outline: none;
                    border: 1px #d789d7 solid;
                    
                }
            }
        }
    }

}