
.nav-bar{
    display: flex;
    margin: 0;
    top: 0%;
    justify-content: space-between;
    background: #9d65c9;
}

.nav-logo{
    height: 30px;
    margin-left: 10px;
    object-fit: cover;
}
.nav-profile-image{
    height: 30px;
    margin-right: 10px;
    border-radius: 75%;
    width: 30px;
    object-fit: cover;
}