
.nav-bar{
    height: 43px;
    width: 100%;
    display: flex;
    top: 0%;
    justify-content: space-between;
    background: linear-gradient( 
    90deg,
    rgba(215,137,215,1.0) 9%,
    rgba(157,101,201,1.0) 50%,
    rgba(93,84,164,1.0) 80%,
    rgba(42,61,102,1.0) 100%
  );
    // padding: 10px;
    z-index: 1000;
    position: sticky;
    // margin-top: 5px;
}

.nav-logo{
    height: 30px;
    margin-top: 7px;
    margin-left: 30px; 
    object-fit: cover;
}

.categories{
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: bold;
    padding: 3px;
    transition: 0.3s;
    &:hover{
        color: rgba(93,84,164,1.0); 
    }
}

.search-bar{
    border-radius: 20px;
    width: 160px;
    border: none;
    margin: 10px 5px 0px 5px;
    text-align: center;
    font-family: poppins;
    color: #9d65c9;
    &:focus{
        outline: none;
        border: none;
    }
}

.search-bar::placeholder{
    color: #9d65c9;
}

.search-items{
    background:  #5d54a4;
    border-radius: 5px;
    a.search-link{
        text-decoration: none;
        .search-results{
            background:  #5d54a4;
            display: flex;
            padding: 5px;
            text-decoration: none;
            border-radius: 5px;
            &:hover{
                background:  #5045a9;
            }
            .search-propic{
            height: 30px;
            border-radius: 75%;
            width: 30px;
            object-fit: cover;
            margin-right: 5px;
            }
        
            .search-user-name{
                text-decoration: none;
        
                .search-username{
                    color: white;
                    text-decoration: none;
                }
                .search-name{
                    color: white;
                    font-size: 10px ;
                    text-decoration: none;
                }
            }
        }
    
    }
}

.nav-profile-image{
    height: 30px;
    margin-right: 20px;
    margin-top: 3px;
    border-radius: 75%;
    width: 30px;
    object-fit: cover;
    border: 1px solid white;
    margin-bottom: 3px;
    cursor: pointer;
}

.dropdown-contents{
    position: absolute;
    top: 20;
    right: 0;
    border-radius: 5px;
   
    :hover{
        background:  #5045a9;
    }
}

.dropdown-options{
    background:  #5d54a4;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: light;
    cursor: pointer;
    padding: 10px;
    padding-right: 100px;
    border-radius: 3px;
    transition: 0.3s;
}
.dropdown-portfolio{
    background: transparent;
    width: 300px;
    text-decoration: none;
     color: white;
}
.divider{
    height: 1px;
    background: white;

}

#art-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 70px;
    border-radius: 4px;
    transition: 0.3s;
    div.categories:hover{
        color: rgba(215,137,215,1.0);
    }
}

#photography-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 150px;
    border-radius: 4px;
    transition: 0.3s;
    div.categories:hover{
        color: rgba(215,137,215,1.0);
    }
}
#music-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 100px;
    border-radius: 4px;
    transition: 0.3s;
    div.categories:hover{
        color: rgba(215,137,215,1.0);
    }
}
#dance-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 100px;
    border-radius: 4px;
    transition: 0.3s;
    div.categories:hover{
        color: rgba(215,137,215,1.0);
    }
}

.create-post-button{
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
      width: 150px;
    font-family: poppins;
    font-weight: bold;
    padding: 3px;
    position: sticky;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        color: rgba(215,137,215,1.0);
    }
}