
.nav-bar{
    height: 3.5vh;
    width: 100%;
    display: flex;
    top: 0%;
    justify-content: space-between;
    background: linear-gradient( 
    90deg,
    rgba(215,137,215,1.0) 9%,
    rgba(157,101,201,1.0) 50%,
    rgba(93,84,164,1.0) 80%,
    rgba(42,61,102,1.0) 100%
  );
    // padding: 10px;
    position: relative;
    // margin-top: 5px;
}

.nav-logo{
    height: 30px;
    margin-top: 4px;
    margin-left: 30px; 
    object-fit: cover;
}

.categories{
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: bold;
    padding: 3px;
}

.search-bar{
    border-radius: 20px;
    width: 150px;
    border: none;
    margin: 5px;
    text-align: center;
    font-family: poppins;
    color: #9d65c9;
    &:focus{
        outline: none;
        border: none;
    }
}

.search-bar::placeholder{
    color: #9d65c9;
}

.nav-profile-image{
    height: 30px;
    margin-right: 20px;
    margin-top: 3px;
    border-radius: 75%;
    width: 30px;
    object-fit: cover;
    border: 1px solid white;
    margin-bottom: 3px;
    cursor: pointer;
}

.dropdown-contents{
    position: absolute;
    top: 20;
    right: 0;
    border-radius: 5px;

    :hover{
        background:  #5045a9;
    }
}

.dropdown-options{
    background:  #5d54a4;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: light;
    cursor: pointer;
    padding: 10px;
    padding-right: 100px;
    border-radius: 3px;
}
.dropdown-portfolio{
    background: transparent;
    width: 300px;
    text-decoration: none;
     color: white;
}
.divider{
    height: 1px;
    background: white;

}

#art-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 70px;
    border-radius: 4px;
}

#photography-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 150px;
    border-radius: 4px;
}
#music-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 100px;
    border-radius: 4px;
}
#dance-true{
    // color: #5d54a4;
    background: rgba(93,84,164,1.0);
    height: 26px;
    width: 100px;
    border-radius: 4px;
}