.portfolio-container * {
    box-sizing: border-box;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .profilepic {
        margin-top: 60px;
        height: 128px;
        width: 128px;
        border-radius: 50%;
        object-fit: cover;
        img, video {
            height: inherit;
            width: inherit;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    .name {
        padding-top: 10px;
        font-size: 42px;
        font-weight: 600;
    }

    .bio {
        margin: 10px;

    }

    .edit-profile-button {
        background: #d789d7;
        // background: linear-gradient( 
        //     90deg,
        //     rgba(215,137,215,1.0) 9%,
        //     rgba(157,101,201,1.0) 50%,
        //     rgba(93,84,164,1.0) 80%,
        //     rgb(60, 87, 145) 90%
        // );
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 15px;
        border-radius: 20px;
        width: 200px;
        text-align: center;
        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }
        &:active {
            transform: scale(.98);
        }
    }

    

    .posts-index-container {
        width: 930px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        border-radius: 8px;
        margin-bottom: 500px;
        

        .post-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            margin: 5px;
            
            &:hover {
                cursor: pointer;
            }
            &:hover {
            transform: scale(1.02);
        }

            img, video {
                height: inherit;
                width: inherit;
                object-fit: cover;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            }
        }
    }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
//   background: #d789d7c1;
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.modal-child {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  margin: 20px;
  text-align: left;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;

  .edit-portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: auto;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding: 10px 60px;
        // padding-right: 227px;
        border-bottom: 2px solid #d789d7c1;
    }

    .closemodal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        height: 36px;
        width: 36px;
        font-size: 22px;
        border-radius: 50%;
        background: rgba(255,255,255,0.1);
        color: #a8abaf;
        &:hover {
          filter: brightness(1.1);
          cursor: pointer;
          background: #dadde1;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        label {
            text-transform: uppercase;
            margin: 15px 15px;
            display: flex;
            // flex-direction: column;
            width: 350px;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            &:first-of-type {
                flex-direction: column;
                align-items: flex-start;
            }
            input[type=text] {
                margin-left: 20px;
                width: 150px;
                padding: 8px 10px;
                border-radius: 20px;
                outline: none;
                border: none;
                background: #dadde1;
                border: 1px solid #dadde1;
                &:focus {
                    border: 1px solid #d789d7;
                }
            }
            .file {
                margin: 0;
                margin-top: 5px;
                padding: 5px 1px;
                width: 300px;
            }
        }

        button {
            border: none;
            background: #d789d7;
            color: #fff;
            margin: 10px 90px;
            padding: 10px;
            font-size: 15px;
            font-weight: 600;
            border-radius: 20px;
            width: 200px;
            text-align: center;
            &:hover {
                cursor: pointer;
                filter: brightness(1.1);
            }
            &:active {
                transform: scale(.98);
            }
        }
    }
  }
}

.view-post-container {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
    .closemodal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        height: 36px;
        width: 36px;
        font-size: 22px;
        border-radius: 50%;
        background: rgba(255,255,255,0.1);
        color: #a8abaf;
        &:hover {
          filter: brightness(1.1);
          cursor: pointer;
          background: #dadde1;
        }
    }

    .content-container {
        height: 100%;
        width: 40vw;
        background: #dadde1;
        img, video {
            height: inherit;
            width: inherit;
            object-fit: contain;
        }
    }

    .right {
        box-sizing: border-box;
        width: 38.5vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        border-radius: 8px;
        padding: 10px;
        .top {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: 1px solid #dadde1;
            

            .name-propic {
                box-sizing: border-box;
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-left: 10px;
                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .name-time {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 20px;
                    .name {
                        padding-bottom: 10px;
                    }
                    .time {
                        font-size: 12px;
                    }
                }
            }

            .description {
                margin: 15px 10px;
            }
        }
        .comment-sec {
            box-sizing: border-box;
            width: 100%;
            .comment-index {
                box-sizing: border-box;
            padding: 10px;
            width: 100%;
            height: 54vh;
            position: relative;
            padding-left: 20px;
            overflow: auto;
            .comment-container {
                padding: 5px 0;
                
                .comment-header {
                    padding: 5px 0;
                    display: flex;
                    
                    a{
                        text-decoration: none;
                        color: #d789d7;
                        font-weight: 500;
                    }

                    .comment-pfp{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                                img{
                                height: 40px;
                                margin-right: 10px;
                                margin-top: 3px;
                                border-radius: 75%;
                                width: 40px;
                                object-fit: cover;
                                margin-bottom: 3px;
                                cursor: pointer;
                                }
        
                    }
                    .c-name-content {
                        display: flex;
                        flex-direction: column;
                        background-color: #dadde1;
                        padding: 10px 15px 5px 15px;
                        border-radius: 10px;
                        // width: 100%;
                        // margin-right: 20px;
                    }
                }
                .comment-content {
                    padding: 5px 0;
                }

                
            }
            
        }

        form {
            
                margin-top: 10px;
                margin-left: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 10px;
                margin-bottom: 20px;
                width: 35vw;
                input {
                    width: 50%;
                    padding: 2px 10px;
                    outline: none;
                    border-radius: 20px;
                    background: #dadde1;
                    border: 1px solid #dadde1;
                    height: 20px;
                    &:focus{
                        border: 1px solid #d789d7;
                    }
                }

                button {
                    border: none;
                    background: #d789d7;
                    color: #fff;
                    padding: 1px 5px;
                    font-size: 15px;
                    font-weight: 600;
                    border-radius: 20px;
                    width: 100px;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(1.1);
                    }
                    &:active {
                        transform: scale(.98);
                    }
                }
            }
        }
        
        
    }
    
}