.portfolio-container * {
    box-sizing: border-box;
}

.portfolio-container {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profilepic {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        img, video {
            height: inherit;
            width: inherit;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    .posts-index-container {
        width: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            background-color: blue;

            img, video {
                height: inherit;
                width: inherit;
            }
        }
    }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, .8);
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  width: 100%
}

.modal-child {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  margin: 20px;
  text-align: left;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;
}