.session-form{
   
    box-sizing: border-box;
    width: 400px;
    height: 800px;
    font-size: 20px;
    box-shadow: 0px 1px 28px 0.5px dimgrey;
    padding: 16px 16px 16px 16px;
    
}

.login-form-container{
    height: 400px;
}

.session-form h1{
    font-weight: bold;
    font-size: 20px;
    height: 22px;
    margin-bottom: 20px;
}
.session-form-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.name-input-fields{
    display: flex;

}

.session-name-input-errors{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.name-input-fields input{
    width:95%;
    
    box-sizing: border-box;
}
.name-input-fields input:first-child{
    margin-right: 5px;
}

.session-form .form-prompt{
    box-sizing: border-box;
    margin: 8px 10px 8px 0;
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
    height: 20px;
}

.session-form-input input{
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #a3a1b1;
    padding: 5px;
    margin-right: 10px;
    outline: none;
    height: 50px;
}

.session-form-input input:focus{
    background-color: #f6f6f6;
}

.session-errors{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.session-form button{
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #5d5fa4;
    color: white;
    height: 40px;
    width: 110px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.session-form button:hover{
    background-color: #2a3d66;
}

.session-form button:active{
    background-color: #9d65c9;
}

.session-switch{
    font-size: 13px;
    
}

.session-form-footer{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}