.session-form{
   
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    font-size: 20px;
    box-shadow: 0px 1px 28px -10.5px black;
    padding: 16px 16px 16px 16px;
    
}

.login-form-container{
    height: 400px;
}

.session-form h1{
    font-weight: bold;
    font-size: 30px;
    height: 22px;
    margin-bottom: 20px;
    color: white;
}

.session-form-input {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 30px;
}

.signup-form-input {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: -10px;
}

.name-input-fields{
    display: flex;
}

.session-name-input-errors{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.name-input-fields input{
    width:95%;
    
    box-sizing: border-box;
}
.name-input-fields input:first-child{
    margin-right: 5px;
}

.session-form .form-prompt{
    box-sizing: border-box;
    margin: 8px 10px 8px 5px;
    font-size: 22px;
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
    height: 20px;
    color: white;
}

.session-form-input input{
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #a3a1b1;
  padding: 5px 0px 5px 14px;
  margin-right: 10px;
  outline: none;
  height: 50px;
  font-family: 'Poppins';
  border-radius: 10px;
}

.signup-form-input input{
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #a3a1b1;
  padding: 5px 0px 5px 14px;
  margin-right: 10px;
  outline: none;
  height: 50px;
  font-family: 'Poppins';
  border-radius: 10px;
}

.session-form-input input:focus{
    background-color: #f6f6f6;
}

.signup-form-input input:focus{
    background-color: #f6f6f6;
}

.session-errors{
  color: red;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.session-form button{
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #5d5fa4;
    color: white;
    height: 40px;
    width: 110px;
    font-weight: bold;
    position: absolute;
    right: 40px;
    top: -14px;
    margin-bottom: 5px;
    transition: 0.3s;
}

button#signup-button {
  margin-left: 60px;
  position: inherit;
}

.session-form button:hover{
    background-color: #787bd3;
}

.session-form button:active{
    background-color: #9d65c9;
}

.session-switch{
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-left: 25px;
}

.signup-switch{
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-left: -125px;
}

.session-form-footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  margin-left: 159px;
  margin-top: 20px;
  width: 262px;
}

.login-form-footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
}

.session-switch a {
    text-decoration: none;
    color: #787bd3;
    transition: 0.3s;
}

.session-switch a:hover {
    text-decoration: none;
    color: #989bff;
}

.signup-switch a {
    text-decoration: none;
    color: #787bd3;
    transition: 0.3s;
}

.signup-switch a:hover {
    text-decoration: none;
    color: #989bff;
}