#comment{
    color: rgba(93,84,164,1.0); 
    transition: 0.6s;
    font-size: 25px;
    margin-top: 5px;
    &:hover{
    color: #9D65C9;

    transform: scale(1.2);
    z-index: 5;

    }
}

#comment-open{
    color: #9D65C9;
    transition: 0.6s;
    font-size: 25px;
    &:hover{
    color: rgba(93,84,164,1.0); 

    transform: scale(1.2);
    z-index: 5;
    }
}

.comment-number{
    padding: 3px;
    display: flex;
    align-items: center;
}

p.comment-number > div {
        margin-top: 4px;
    margin-left: 10px;
    font-weight: 500;
}