#comment{
    color: rgba(93,84,164,1.0); 
    transition: 0.6s;
    font-size: 25px;
    margin-top: 5px;
    &:hover{
    color: #9D65C9;

    transform: scale(1.2);
    z-index: 5;

    }
}

#comment-open{
    color: #9D65C9;
    transition: 0.6s;
    font-size: 25px;
    &:hover{
    color: rgba(93,84,164,1.0); 

    transform: scale(1.2);
    z-index: 5;
    }
}

.comment-number{
    padding: 3px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

p.comment-number > div {
        margin-top: 4px;
    margin-left: 10px;
    font-weight: 500;
}

#comment-section{
    .comment-sec{

        .comment-index {
                    padding: 10px;
                    width: 100%;
                    height: 400px;
                    overflow: auto;
                    background: #dadde1;
                    box-sizing: border-box;
                    border-radius: 7px;
                    .comment-container {
                        padding: 0px 0px 10px 50px;
                        .comment-header {
                            padding: 5px 0;
                            display: flex;
                            align-items: center;
                            position: relative;
                            a{
                                text-decoration: none;
                                color: #d789d7;
                                font-weight: 500;
                                
                            }
                            .comment-pfp{
                                img{
                                height: 30px;
                                margin-right: 20px;
                                margin-top: 3px;
                                border-radius: 75%;
                                width: 30px;
                                object-fit: cover;
                                margin-bottom: 3px;
                                cursor: pointer;
                                }
        
                            }

                            .option-dots{
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                
                                background: transparent;
                                border: none;
                                outline: none;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: .5s;
                                img{
                                    box-sizing: border-box;
                                    width: 25px;
                                    background: transparent;
                                    border: none;
                                    outline: none;
                                    border-radius: 50%;

                                }
                                
                            }

                            .option-dots:hover{
                                background-color: white;
                            }

                            .comment-option-menu{
                                position: absolute;
                                top: 11px;
                                right: 46px;
                                background: white;
                                border-radius: 10px;
                                padding: 10px;
                                div{
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    transition: .1s;
                                }
                                div:hover{
                                    font-weight: 500;
                                }

                            }
                        }
                        form{
                            input{
                                border: 1px solid #d789d7;
                                border-radius: 0px;
                                margin-right: 45px;
                            }
                            input:focus{
                                border: 1px solid #d789d7;
                                border-radius: 0px;
                                background: white;
                            }

                        }

                        .comment-content {
                            padding: 5px 0;
                        }
        
                        
                    }
                }
    }
        
    form {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            width: 700px;
            height: 30px;
            padding: 2px 10px 0px 20px;
            margin-right: 10px;
            outline: none;
            border-radius: 20px;
            background: #dadde1;
            border: 1px solid #dadde1;
            &:focus{
                border: 1px solid #d789d7;
            }

        }
    
        button {
            border: none;
            background: #d789d7;
            color: #fff;
            padding: 1px 5px;
            font-size: 15px;
            font-weight: 600;
            border-radius: 20px;
            width: 100px;
            height: 40px;
            text-align: center;
            &:hover {
                cursor: pointer;
                filter: brightness(1.1);
            }
            &:active {
                transform: scale(.98);
            }
        }
    }
}
