.post-profile-pic{
    height: 50px;
    margin-right: 5px;
    border-radius: 75%;
    width: 50px;
    object-fit: cover;
    border: 1px solid white;
    margin-bottom: 5px;
    cursor: pointer;
}
.post-video{
    height: 500px;
    width: 500px;
    object-fit: contain;
    align-self: center;
    &:focus{
        outline: none;
        border: none;
    }
}

.post-photo{
    height: 500px;
    width: 500px;
    object-fit: contain;
    align-self: center;
    &:focus{
        outline: none;
        border: none;
    }
}
.post-audio{
    width: 500px;
    object-fit: contain;
    align-self: center;
    &:focus{
        outline: none;
        border: none;
    }
}
.post-container{
    padding: 30px;
    width: 800px;
    border: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    border-color: #f5f5f5;
    bottom: 20px;
}
.post-header{
    display: flex;
    justify-content:  space-between;
    position: relative;
    .name-date{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 4px;
    }
}
.not-message{
    display: flex;
}
.created-at{
    font-size: 10px;
}

.poster{
    text-decoration: none;
    color: #d789d7;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
    }
    
}

.send-message{
    height: 30px;
    background: rgba(157,101,201,1.0);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    &:hover{
       background: rgba(215,137,215,1.0); 
    }
    &:focus{
        outline: none;
        border: none; 
    }
}

.post-content{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.likes-comments{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    align-items: center;
    position: relative;

    
}
#pending-like{
    color: rgba(93,84,164,1.0); 
    transition: 0.6s;
    font-size: 25px;

    &:hover{
    color: #9D65C9;

    transform: scale(1.2);
    z-index: 5;

    }
}

#liked{
    color: #9D65C9;
    transition: 0.6s;
    font-size: 25px;
    &:hover{
    color: rgba(93,84,164,1.0); 

    transform: scale(1.2);
    z-index: 5;
    }
}
.like-number{
    // margin-left: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    font-size: bold;
}

.like-actual-number{
    margin-top: 2px;
    margin-left: 12px;
    font-weight: 500;
}